@model WebApplicationHarftna.Models.Client

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nomcli)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nomcli)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prenomcli)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prenomcli)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Motpasscli)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Motpasscli)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Emailcli)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Emailcli)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telcli)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telcli)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cinpasscli)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cinpasscli)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagecli)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imagecli)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Scorecli)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Scorecli)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ipcli)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ipcli)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Emailverifier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Emailverifier)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datecreate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datecreate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Idcli">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
