@model WebApplicationHarftna.Models.Administrateur

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Administrateur</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Loginad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Loginad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Passad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Passad)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Idad">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
